.contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  color: $complementary-color;
  z-index: 4;

  &__item {
    &--hidden {
      display: none;
    }
  }

  &__link {
    color: $complementary-color;
    transition: color 0.3s linear;

    &--top {
      font-weight: 700;
    }

    &--bottom {
      font-weight: 400;
    }

    &:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: $small-screen) {
  .contacts {
    padding: 0;
  }
}

@media screen and (max-width: $phone-screen) {
  .contacts {
    &__item {
      &--hidden {
        display: block;
        align-self: center;
      }
    }
  }
}
