@font-face {
  font-family: 'TTNorms';
  src: url('../fonts/TTNorms/TTNorms-Regular.otf') format('opentype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../fonts/TTNorms/TTNorms-Medium.otf') format('opentype');

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../fonts/TTNorms/TTNorms-Bold.otf') format('opentype');

  font-weight: 700;
  font-style: normal;
}

