.social {
  display: flex;
  gap: 8px;
  z-index: 4;

  &__link {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: $socia-icon-size;
    height: $socia-icon-size;

    &--viber {
      background: url('../images/viber.png') no-repeat;
    }

    &--whatsapp {
      background: url('../images/whatsapp.png') no-repeat;
    }

    &--telegram {
      background: url('../images/telegram.png') no-repeat;
    }
  }
}

@media screen and (max-width: $regular-screen) {
  .social { 
    &__link {
      &--viber {
        background: url('../images/viber_color.png') no-repeat;
        background-size: $socia-icon-size;
      }
    }
  }
}
