$main-backgroung-color: #fff;

$main-color: #3e4b64;
$complementary-color: #ddb04e;

$socia-icon-size: 20px;

$large-screen: 1800px;
$normal-screen: 1600px;
$regular-screen: 1350px;
$small-screen: 1200px;
$phone-screen: 550px;
